:root {
  --color-text1: #deedcf;
  --color-text2: #ffcbcc;
  --color-text3: #b9e6e3;
  --color-text4: #e1d0a1;
  --color-text5: #ccd3f6;
  --color-bg1: #3f4849;
  --color-bg2: #493f46;
  --color-bg3: #2b3242;
  --color-bg4: #3b3232;
  --color-bg5: #2d3a40;
  --color-text: var(--color-text1);
  --color-bg: var(--color-bg1);
  --color-link: var(--color-text);
  --color-link-hover: #fff;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #e4e0dd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.tile {
  width: 60vw;
  flex: 0 0 auto;
}

.tile__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
